<link rel="import" href="/view/common/doctype.html?__inline">
<script src="/base/vendor/rem/index.js"></script>
<link rel="stylesheet" href="./index.less">
<link rel="import" href="/view/common/head.html?__inline">
<div class="examplerem-box">
    <div class="examplerem-box-title">
        box-title
    </div>
    <div class="examplerem-box-item">
        1
    </div>
    <div class="examplerem-box-item">
        2
    </div>
    <div class="examplerem-box-item">
        3
    </div>
</div>
<link rel="import" href="/view/common/foot.html?__inline">
<!--jdists trigger="online" >
    <script src="./entry.js" ></script>
</jdists-->
<link rel="import" href="/view/common/end.html?__inline">
