<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 必须在页面的 head 中应用 meta.js 且必须存在 <meta name="viewport" ... um-scale=1.0,user-scalable=no" />  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <script src="/m/rem/meta.js"></script>

    <link rel="stylesheet" href="/m/rem/index.demo.less">
    <style>body{margin:0;}</style>
</head>
<body>
    <div class="m-rem-example">
        <div class="m-rem-example-box"></div>
    </div>
</body>
</html>
