<link rel="import" href="/view/pc/doctype.html?__inline">

<link rel="stylesheet" href="./index.less">

<link rel="import" href="/view/pc/head.html?__inline">
<img src="./logo.png" alt="">
<div class="example-box">.example-box</div>
<pre>&lt;?php echo time(); ?&gt;</pre>
<?php echo time(); ?>
<br>
<pre>&lt;?php echo $name; ?&gt;</pre>
<?php echo $name; ?>
<pre>&lt;?php echo json_encode($data); ?&gt;</pre>
<pre>
<?php echo json_encode($data); ?>
</pre>

<div id="app"></div>

<link rel="import" href="/view/pc/foot.html?__inline">
<!--jdists trigger="online" >
    <script src="./entry.js" ></script>
</jdists-->
<link rel="import" href="/view/pc/end.html?__inline">
