<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" ></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--<script src="/m/rem/meta.js"></script>-->
    <link rel="shortcut icon" href="/view/common/favicon.ico" />
    <link rel="stylesheet" href="/view/common/index.less">
    <title>title</title>
    <meta name="keywords" content="">
    <meta name="description"  content="">
    <link rel="import" href="/view/common/polyfill.html?__inline">
