<!--[if lt IE 11]>
<style>
.KILL_IE {
    border:1px solid #DDD;
    border-radius: 3px;
    padding:1em;
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.KILL_IE_TEXT {
    margin-bottom: .5em;
}
.KILL_IE_TITLE {
    font-size:1.5em;
}
</style>
<div class="KILL_IE" >
    <div class="KILL_IE_TEXT">
        自 2016 年 1 月 12 日起，Microsoft 不再为 IE 11 以下版本提供相应支持和更新。没有关键的浏览器安全更新，您的 PC 可能易受有害病毒、间谍软件和其他恶意软件的攻击，它们可以窃取或损害您的业务数据和信息。请参阅 <a target="_blank" href="https://www.microsoft.com/zh-cn/WindowsForBusiness/End-of-IE-support">微软对 Internet Explorer 早期版本的支持将于 2016 年 1 月 12 日结束的说明 。</a>
    </div>
    <div class="KILL_IE_TITLE">
        更先进的浏览器
    </div>
    <a class="KILL_IE_LINK" target="_blank" href="http://oikdqnyf6.bkt.clouddn.com/ChromeStandalone_56.0.2924.87_Setup.exe">Chrome</a>
</div>
<![endif]-->
